<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Смена пороля</title>
  <link rel="stylesheet" href="{% static 'reset/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/confirm_password.css' %}">
  <link rel="shortcut icon" href="{% static 'img/short-logo.png' %}" type="image/png">
</head>
<body>
  <div class="main">
    <div class="block">
      <div class="header">
        <div class="first_len">
          <a onclick="javascript:history.back(); return false;"><img src="{% static 'img/back.png' %}" alt="" class="back"></a>
          <div class="label">Забыли пароль?</div>
          <a href="/"><img src="{% static 'img/short-logo.png' %}" alt="" class="home"></a>
        </div>
        <div class="information">Придумайте пароль</div>
      </div>
      <div class="errors">
        {% if form.errors %}
          <p class='error'>Ненадёжный пароль или они не совпадают</p>
        {% endif %}
      </div>
       <form method="post">
        {% csrf_token %}
        <div class="input">
          <div class="form-information">Новый пароль</div>
          <div class="form-input">{{ form.new_password1 }}</div>
        </div>
        <div class="input confirm_password">
          <div class="form-information">Подтвердите пароль</div>
          <div class="form-input">{{ form.new_password2 }}</div>
        </div>
         <div class="smile">
           <div class="text">Вау, это котик - волшебник!</div>
           <div class="cat">
            <div class="text-img">Вжух, и найдёшь <br> $1 под подушкой</div>
             <img src="{% static 'img/cat-two.png' %}" alt="cat" class="img-cat">
           </div>
         </div>
        <button type="submit" class="button">Cменить</button>
      </form>
    </div>
  </div>
</body>
</html>