{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="{% static 'reset/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="main">
    <div class="block">
      <div class="header">
        <div class="first_len">
          <a onclick="javascript:history.back(); return false;"><img src="{% static 'img/back.png' %}" alt="" class="back"></a>
          <div class="label">Вход</div>
        </div>
        <div class="information">Введите ваши данные, что бы войти в аккаунт</div>
      </div>
      <div class="errors">
        {% if form.errors %}
          <p class='error'>Ваш логин и/или пароль неверны. Пожалуйста, попрубуйте ещё раз</p>
        {% endif %}
      </div>
        <form method="post" action="{% url 'login' %}" class='form'>
          {% csrf_token %}
            <div class='login'>
              <div class='login_label'><img src="{% static 'img/email-login.png' %}" alt=""></div>
              <div class='login_input'>{{ form.username }}</div>
            </div>
            <div class='password'>
              <div class='password_label'>Пароль</div>
              <div class='password_input'>{{ form.password }}</div>
            </div>
            <input type="submit" value="Войти" class='login-button'/>
            <input value="Зарегистрироваться" type="button" onclick="location.href='/account/register/'" class="register"/>
            <input value="Забыли пороль?" type="button" onclick="location.href='/accounts/password_reset/'" class="forgot_password"/>
          </form>
    </div>
</body>
</html>