$background-main: #f3dbb3;
$placeholder: black;
$background: #e2b87f;
@font-face {
    font-family: "SegoePrintRegular";
    src: url("../fonts/SegoePrintRegular/SegoePrintRegular.eot");
    src: url("../fonts/SegoePrintRegular/SegoePrintRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoePrintRegular/SegoePrintRegular.woff") format("woff"),
    url("../fonts/SegoePrintRegular/SegoePrintRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    background: $background;
    width: 100vw;
    height: 90vh;
}
.main {
    width: 1050px;
    height: 560px;
    background: $background-main;
    border-radius: 30px;
    margin: auto;
    margin-top: 10vh;
    font-family: "SegoePrintRegular";
    border: 2px solid $placeholder;
}
#id_username{
    font-family: "SegoePrintRegular";
    font-size: 14px;
    line-height: 16px;
    margin-top: 25px;
    color: $placeholder;
    border: 1px solid $placeholder;
    border-radius: 15px;
    width: 800px;
    height: 35px;
    margin: 10px 0 5px 40px;
    padding: 5px 10px 5px 10px;
}
.back {
    margin-left: 30px;
    margin-top: 10px;
}
.first_len {
    display: flex;
}
.label {
    font-size: 55px;
    margin-left: 350px;
}
.information {
    opacity: 0.4;
    width: 550px;
    font-size: 33px;
    text-align: center;
    margin: 20px auto 0 auto;
}
.login {
    margin: 70px 0 0 30px;
    display: flex;
}
.login_label {
    width: 130px;
}
.password {
    margin: 30px 0 0 30px;
    display: flex;
    width: 130px;
}
.password_label {
    font-size: 35px;
}
#id_password {
    font-family: "SegoePrintRegular";
    font-size: 14px;
    line-height: 16px;
    margin-top: 35px;
    color: $placeholder;
    border: 1px solid $placeholder;
    border-radius: 15px;
    width: 800px;
    height: 35px;
    margin: 10px 0 5px 40px;
    padding: 5px 10px 5px 10px;
}
.login-button {
    border: none;
    background-color: white;
    border: 1px solid $placeholder;
    font-size: 30px;
    border-radius: 30px;
    font-family: "SegoePrintRegular";
    padding: 0 30px 0px 30px;
    height: 60px;
    width: 220px;
    margin-top: 80px;
    margin-left: 60px;
}
.register {
    border: none;
    background-color: white;
    border: 1px solid $placeholder;
    font-size: 25px;
    border-radius: 30px;
    font-family: "SegoePrintRegular";
    padding: 0 30px 0px 30px;
    height: 50px;
    margin-left: 60px;
}
.forgot_password {
    border: none;
    background-color: white;
    border: 1px solid $placeholder;
    font-size: 20px;
    border-radius: 30px;
    font-family: "SegoePrintRegular";
    padding: 0 25px 0px 25px;
    height: 40px;
    margin-left: 60px;
}
.register:hover {
    background-color: #eeeeeed0;
}
.login-button:hover {
    background-color: #eeeeeed0;
}
.forgot_password:hover {
    background-color: #eeeeeed0;
}
input:active, input:focus, button:active, button:focus {
    outline: none !important;
}
input::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 !important;
}
.error {
    color: red;
    margin-left: 300px;
    transform: translate(0, 30px);
}
.home {
    width: 50px;
    margin: 10px 0 0 400px;
}