<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'reset/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Главная</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'img/logo.png' %}" alt="logo" class="logo-icon">
                </a>
            </div>
            <form class="search" action="{% url 'search' %}" method="get">
                <button class="search-button">
                    <img src="{% static 'img/search.png' %}" alt="search" class='search-icon'>
                </button>
                <input type="search" class="search-input" placeholder="Темы, названия" name="search">
            <div class="settings">
                <div class="form close_form_select">
                    <div class="sort_published">
                        <div class="select-filter">Выберите фильтр</div>
                        Сначала: <input type="radio" name='answer' value="new" class="new">новые<input type="radio" name='answer' value="last" class=last>старые <br>
                        <input type="radio" name='answer' value="more_popular" class="more-popular">более популярное <br>
                        <input type="radio" name='answer' value="less_popular" class="less-popular">менее популярные
                    </div>
                </div>
            </div>
        </form>
        <button class="settings-button">
            <img src="{% static 'img/settings.png' %}" alt="settings" class="settings-icon">
        </button>
            <div class="user">
                <div class="bookmark">
                    <button class="bookmark-button">
                        <img src="{% static 'img/bookmark.png' %}" alt="bookmark", class="bookmark-icon">
                    </button>
                </div>
                <div class="alert">
                    <button class='alert-button'>
                        <img src="{% static 'img/alert.png' %}" alt="alert" class="alert-icon">
                    </button>
                </div>
                <div class="profile">
                    {% if user.is_authenticated %}
                        <a href="">
                            {% if user.img %}
                                <img src="{{ user.img.url }}" alt="profile-icon" class="profile-icon">
                            {% else %}
                                <img src="{% static 'img/no-avatar.jpeg' %}" alt="profile-icon" class="profile-icon">
                            {% endif %} 
                        </a> 
                    {% else %}
                        <a href="{% url 'login' %}">
                            {% if user.img %}
                                <img src="{{ user.img.url }}" alt="profile-icon" class="profile-icon">
                            {% else %}
                                <img src="{% static 'img/no-avatar.jpeg' %}" alt="profile-icon" class="profile-icon">
                            {% endif %} 
                        </a> 
                    {% endif %}              
                </div>
            </div>
        </header>
    </div>
    <div class="containertwo">
        <div class="main">
            <nav class='nav'>
                <div class="favorite_subjects">
                    {% for i in favorite_subjects %}
                        <a href="/subject/{{ i.pk }}">
                            {% if i.pk == select %}
                                <div class='select_subject'>{{ i.name }}</div>
                            {% else %}
                                <div class='different_subject'>{{ i.name }}</div>
                            {% endif %} 
                        </a>
                    {% endfor %}
                </div>
                <div class="other_subjects">
                    {% if user.is_authenticated %}
                        <div class='other_div'><input class='other' type="button" value="Остальное"></div>
                    {% endif %} 
                    {% for i in all_subjects %}
                        <a href="/subject/{{ i.pk }}">
                            {% if i.pk == select %}
                                <div class='select_subject other_subject' id="other_subject">{{ i.name }}</div>
                            {% else %}
                                <div class='different_subject other_subject' id="other_subject">{{ i.name }}</div>
                            {% endif %} 
                        </a> 
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <div class='hied_div'><input class='hied other_subject' type="button" value="Скрыть"></div>
                    {% endif %} 
                </div>
                <div class="about_and_help">
                    <div class='about_and_help_text'><a href="" class='about_and_help_text'>* О нас *</a></div>
                    <div class='about_and_help_text'><a href="" class='about_and_help_text'>* Помощь *</a></div>
                    <div class='about_and_help_text'><a href="" class='about_and_help_text'>* Поддержка *</a></div>
                </div>
            </nav>
            <div class="articles">
                {% if all_articles %}
                    {% for i in all_articles %}
                    <div class='article'>
                        <a href="" class="article-href">
                            {% if i.color == 'b' or i.color == None %}
                                <p class="article-text-black">{{ i.title }}</p>
                            {% else %}
                                <p class="article-text-white">{{ i.title }}</p>
                            {% endif %}
                            <img src="{{ i.img.url }}" alt="artilce-img" width="455px" height="320px" class="article-img">
                        </a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="null_articles"> Записей не найдено :(</p>
                {% endif %}
            </div>
            <div class="notification-menu">
            fsdahszgfsssssssssssssssssssssssssssrg
            </div>
            <div class="bookmark-menu">
            fsdahszgfsssssssssssssssssssssssssssrg
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
</body>
</html>